<script src="role-add.component.ts"></script>
<app-dashboard-layout>
  <ng-container title>
    <app-breadcrumbs
      [links]="[
        {
          href: '/user-management/roles',
          text: 'USER_MANAGEMENT.TITLE' | translate
        },
        { href: '/', text: 'ROLE_ADD.ROLE_ADD_TITLE' | translate }
      ]">
    </app-breadcrumbs>
  </ng-container>
  <ng-container content>
    <div class="role-add">
      <div class="role-add__layout">
        <div class="role-add__scrollbar">
          <div class="role-add-container">
            <div class="role-add__form-title">
              <span>{{ 'ROLE_ADD.ROLE_ADD_TITLE' | translate }} </span>
            </div>
            <div class="role-add__form-region">
              <div class="role-add__form-left">
                <span class="role-add__form-headline">{{
                  'ROLE_ADD.ROLE_INFO' | translate
                  }}</span>
              </div>
              <div class="role-add__form-right">
                <div class="role-add__form-field">
                  <div class="role-add__form-label">
                    <app-label
                      label="{{ 'ROLE_ADD.NAME' | translate }}"
                      [required]="true"></app-label>
                  </div>
                  <div class="role-add__form-input">
                    <app-input
                      #nameInput
                      [(input)]="name"
                      [errorMsg]="isError ? (errorMsgName | translate) : ''">
                    </app-input>
                  </div>
                </div>
                <div class="role-add__form-field">
                  <div class="role-add__form-label">
                    <app-label
                      label="{{ 'ROLE_ADD.DESCRIPTION' | translate }}"
                    ></app-label>
                  </div>
                  <div class="role-add__form-input">
                    <app-textarea
                      [(input)]="description"
                      [errorMsg]="
                        isError ? (errorMsgDescription | translate) : ''">
                    </app-textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="role-add__form-region permissions">
              <div class="role-add__form-left">
                <span class="role-add__form-headline">{{
                  'ROLE_ADD.PERMISSION' | translate
                  }}</span>
              </div>
              <div class="role-add__tabs-permissions">
                <app-tab
                  *ngFor="let tab of permissions; let index = index"
                  [active]="tab.checked"
                  [text]="tab.name"
                  (click)="tabChange(tab, index)">
                </app-tab>
              </div>
              <app-datatable>
                <ng-container head>
                  <app-datatable-row class="role-add__datatable-head">
                    <app-datatable-item class="role-add__flex-2">
                      <span style="color: #9f9f9f;">{{
                        'DATATABLE.PERMISSION.SCOPE.TITLE' | translate
                        }}</span>
                    </app-datatable-item>
                    <app-datatable-item
                      class="role-add__datatable-item select-all">
                      <span style="color: #9f9f9f;"></span>
                    </app-datatable-item>
                    <app-datatable-item class="role-add__datatable-item">
                      <span style="color: #9f9f9f;">{{
                        'DATATABLE.PERMISSION.ADD' | translate
                        }}</span>
                    </app-datatable-item>
                    <app-datatable-item class="role-add__datatable-item">
                      <span style="color: #9f9f9f;">{{
                        'DATATABLE.PERMISSION.VIEW' | translate
                        }}</span>
                    </app-datatable-item>
                    <app-datatable-item class="role-add__datatable-item">
                      <span style="color: #9f9f9f;">{{
                        'DATATABLE.PERMISSION.EDIT' | translate
                        }}</span>
                    </app-datatable-item>
                    <app-datatable-item class="role-add__datatable-item">
                      <span style="color: #9f9f9f;">{{
                        'DATATABLE.PERMISSION.DELETE' | translate
                        }}</span>
                    </app-datatable-item>
                  </app-datatable-row>
                </ng-container>
                <ng-container body>
                  <app-datatable-row class="role-add__datatable-row">
                    <app-datatable-item class="role-add__flex-2">
                      <div
                        class="role-add__permission-item"
                        *ngFor="
                          let pms of this.permissions[activeTabIndex]?.permList
                            | keyvalue;
                          let index = index">
                        <div
                          class="role-add__permission-item__text"
                          style="
                            height: 32px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            word-break: break-all;"
                          title="{{
                            'DATATABLE.PERMISSION.SCOPE.' + pms.key
                              | uppercase
                              | translate
                          }}">
                          {{
                          'DATATABLE.PERMISSION.SCOPE.' + pms.key
                            | uppercase
                            | translate
                          }}
                        </div>
                      </div>
                    </app-datatable-item>
                    <app-datatable-item
                      class="role-add__datatable-item select-all">
                      <div
                        class="role-add__permission-item"
                        *ngFor="
                          let pms of this.permissions[activeTabIndex]?.permList
                            | keyvalue;
                          let index = index">
                        <span
                          class="role-add__permission-item-select-all"
                          *ngIf="
                            showSelectAll(permissions, activeTabIndex, pms.key)"
                          (click)="
                            selectDeselectAll(
                              permissions,
                              activeTabIndex,
                              pms.key,
                              true
                            )">Select all</span>
                        <span
                          class="role-add__permission-item-select-all"
                          *ngIf="
                            !showSelectAll(permissions, activeTabIndex, pms.key)"
                          (click)="
                            selectDeselectAll(
                              permissions,
                              activeTabIndex,
                              pms.key,
                              false
                            )">Deselect all</span>
                      </div>
                    </app-datatable-item>
                    <app-datatable-item class="role-add__datatable-item">
                      <div
                        class="role-add__permission-item"
                        *ngFor="
                          let pms of this.permissions[activeTabIndex]?.permList
                            | keyvalue;
                          let index = index">
                        <div
                          class="role-add__permission-item__action"
                          style="height: 32px; padding-left: 5px;">
                          <div
                            class="role-add__permission-item__checkbox__icon-container">
                            <app-checkbox
                              [isUndefined]="pms.value['create'] === undefined"
                              [(checked)]="pms.value['create']">
                            </app-checkbox>
                          </div>
                        </div>
                      </div>
                    </app-datatable-item>
                    <app-datatable-item class="role-add__datatable-item">
                      <div
                        class="role-add__permission-item"
                        *ngFor="
                          let pms of this.permissions[activeTabIndex]?.permList
                            | keyvalue;
                          let index = index">
                        <div
                          class="role-add__permission-item__action"
                          style="height: 32px; padding-left: 5px;">
                          <div
                            class="role-add__permission-item__checkbox__icon-container">
                            <app-checkbox
                              [isUndefined]="pms.value['view'] === undefined"
                              [(checked)]="pms.value['view']">
                            </app-checkbox>
                          </div>
                        </div>
                      </div>
                    </app-datatable-item>
                    <app-datatable-item class="role-add__datatable-item">
                      <div
                        class="role-add__permission-item"
                        *ngFor="
                          let pms of this.permissions[activeTabIndex]?.permList
                            | keyvalue;
                          let index = index">
                        <div
                          class="role-add__permission-item__action"
                          style="height: 32px; padding-left: 5px;">
                          <div
                            class="role-add__permission-item__checkbox__icon-container">
                            <app-checkbox
                              [isUndefined]="pms.value['edit'] === undefined"
                              [(checked)]="pms.value['edit']">
                            </app-checkbox>
                          </div>
                        </div>
                      </div>
                    </app-datatable-item>
                    <app-datatable-item class="role-add__datatable-item">
                      <div
                        class="role-add__permission-item"
                        *ngFor="
                          let pms of this.permissions[activeTabIndex]?.permList
                            | keyvalue;
                          let index = index">
                        <div
                          class="role-add__permission-item__action"
                          style="height: 32px; padding-left: 10px;">
                          <div
                            class="role-add__permission-item__checkbox__icon-container">
                            <app-checkbox
                              [isUndefined]="pms.value['delete'] === undefined"
                              [(checked)]="pms.value['delete']">
                            </app-checkbox>
                          </div>
                        </div>
                      </div>
                    </app-datatable-item>
                  </app-datatable-row>
                </ng-container>
              </app-datatable>
            </div>
            <div class="role-add__form-region headline">
              <div class="role-add__form-left">
                <span class="role-add__form-headline">{{'ROLE_EDIT.ADD_USER' | translate}}</span>
                <span class="role-add__form-region__results-label" *ngIf="users && users.length > 0">
                  <span>{{'DATATABLE.RESULTS_LABEL.TOTAL' | translate: {total: total}
                    }}
                  </span>
                  <span>
                    {{ 'DATATABLE.RESULTS_LABEL.USERS' | translate }}
                  </span>
                </span>
              </div>
            </div>

            <div class="role-add__form-region filter-by" *ngIf="users && users.length > 0">
              <app-role-add-filter
                [(searchString)]="searchString"
                (searchSubmit)="updateSearchString(searchString)">
              </app-role-add-filter>
              <app-primary-button (click)="addUserModal.open()">
                <span>{{ 'ROLE_EDIT.BUTTON.ADD_USER' | translate }}</span>
              </app-primary-button>
            </div>

            <div class="user-list__datatable__container">
              <div *ngIf="!loading && users.length === 0" style="display: flex;align-items: center;flex-flow: column;">
                <app-no-data-layout
                  class="user-list__no-data-layout">
                </app-no-data-layout>
                <app-primary-button (click)="addUserModal.open()">
                  <span>{{ 'ROLE_EDIT.BUTTON.ADD_USER' | translate }}</span>
                </app-primary-button>
              </div>

              <app-datatable
                appLoadMore
                class="user-list__datatable"
                *ngIf="users && users.length > 0">
                <ng-container head>
                  <app-datatable-row class="user-list__datatable-head">
                    <app-datatable-item style="flex: 0 0 auto;">
                      <div class="user-list__checkbox">
                        <app-checkbox
                          (checkedChange)="handleCheckAllItem()"
                          [(checked)]="checkedAll">
                        </app-checkbox>
                      </div>
                    </app-datatable-item>

                    <app-datatable-item
                      class="user-list__flex-1"
                      [sortable]="true"
                      [sort]="sortedField === 'username' ? this.sortOrder : null"
                      [disabled]="true"
                      (click)="handleSort()">
                  <span>
                    {{ 'DATATABLE.ROLE.USERNAME' | translate }}
                  </span>
                    </app-datatable-item>

                    <app-datatable-item class="user-list__flex-1">
                  <span>
                    {{ 'DATATABLE.ROLE.LASTNAME' | translate }}
                  </span>
                    </app-datatable-item>

                    <app-datatable-item class="user-list__flex-1">
                  <span>
                    {{ 'DATATABLE.ROLE.FIRSTNAME' | translate }}
                  </span>
                    </app-datatable-item>

                    <app-datatable-item class="user-list__flex-1">
                  <span>
                    {{ 'DATATABLE.ROLE.EMAIL' | translate }}

                  </span>
                    </app-datatable-item>

                    <app-datatable-item class="user-list__flex-1">
                      <div class="user-list__row-centering">
                        <div class="user-list__ellipsis">
                      <span
                        [attr.title]="'DATATABLE.ROLE.PHONE' | translate">
                        {{ 'DATATABLE.ROLE.PHONE' | translate }}
                      </span>
                        </div>
                      </div>
                    </app-datatable-item>

                    <app-datatable-item class="user-list__flex-1">
                  <span>
                    {{ 'DATATABLE.ROLE.STATUS' | translate }}
                  </span>
                    </app-datatable-item>

                    <app-datatable-item class="user-list__flex-1_5">
                      <div class="user-list__actions">
                        <div
                          class="user-list__action"
                          [attr.title]="'DATATABLE.ACTIONS.DELETE' | translate"
                          (click)="triggerDeleteManyEvent()">
                          <div class="user-list__icon user-list__delete-icon"></div>
                          <span
                            [attr.title]="'DATATABLE.ROLE.ACTION' | translate: { count: count }">
                        {{ 'DATATABLE.ROLE.ACTION' | translate: {count: count} }}
                      </span>
                        </div>
                      </div>
                    </app-datatable-item>
                  </app-datatable-row>
                </ng-container>

                <ng-container body>
                  <app-datatable-row
                    class="user-list__datatable-row"
                    *ngFor="let user of users; let index = index">
                    <app-datatable-item style="flex: 0 0 auto;">
                      <div class="user-list__checkbox">
                        <app-checkbox
                          (checkedChange)="handleCheckItem(user.username)"
                          [(checked)]="user.checked">
                        </app-checkbox>
                      </div>
                    </app-datatable-item>
                    <app-datatable-item class="user-list__flex-1">
                      <div class="user-list__row-centering">
                        <div class="user-list__ellipsis">
                      <span [attr.title]="user.username">
                        {{ user.username }}
                      </span>
                        </div>
                      </div>
                    </app-datatable-item>

                    <app-datatable-item class="user-list__flex-1">
                      <div class="user-list__row-centering">
                        <div class="user-list__ellipsis">
                      <span [attr.title]="user.lastname">
                        {{ user.lastname }}
                      </span>
                        </div>
                      </div>
                    </app-datatable-item>

                    <app-datatable-item class="user-list__flex-1">
                      <div class="user-list__row-centering">
                        <div class="user-list__ellipsis">
                      <span [attr.title]="user.firstname">
                        {{ user.firstname }}
                      </span>
                        </div>
                      </div>
                    </app-datatable-item>

                    <app-datatable-item class="user-list__flex-1">
                      <div class="user-list__row-centering">
                        <div class="user-list__ellipsis">
                      <span [attr.title]="user.email">
                        {{ user.email }}
                      </span>
                        </div>
                      </div>
                    </app-datatable-item>

                    <app-datatable-item class="user-list__flex-2">
                      <div class="user-list__row-centering">
                        <div class="user-list__ellipsis">
                      <span [attr.title]="user.phone">
                        {{ user.phone }}
                      </span>
                        </div>
                      </div>
                    </app-datatable-item>

                    <app-datatable-item class="user-list__flex-1">
                      <div class="user-list__row-centering">
                    <span>
                      {{
                      user.enable
                        ? ('TOGGLE_SWITCHES.ACTIVE' | translate)
                        : ('TOGGLE_SWITCHES.INACTIVE' | translate)
                      }}
                    </span>
                      </div>
                    </app-datatable-item>

                    <app-datatable-item class="user-list__flex-1">
                      <div class="user-list__actions">
                        <div
                          class="user-list__action"
                          [attr.title]="'DATATABLE.ACTIONS.DELETE' | translate"
                          (click)="triggerDeleteEvent(index)">
                          <div class="user-list__icon user-list__delete-icon"></div>
                          <span>
                        {{ 'DATATABLE.ACTIONS.DELETE' | translate }}
                      </span>
                        </div>
                      </div>
                    </app-datatable-item>
                  </app-datatable-row>
                </ng-container>

                <ng-container loading>
                  <app-loading
                    style="flex: 1 1 auto; padding: 20px;"
                    *ngIf="loading && !loadedAll">
                  </app-loading>
                </ng-container>
              </app-datatable>
            </div>
          </div>
        </div>
      </div>
      <div class="role-add__bottom">
        <div class="role-add__button-neutral">
          <app-neutral-button (buttonCancel)="cancel()">
            <span>
              {{ 'BUTTON.CANCEL' | translate }}
            </span>
          </app-neutral-button>
        </div>
        <div class="role-add__button-primary">
          <app-primary-button (buttonSubmit)="submitData()">
            <span>
              {{ 'BUTTON.APPLY' | translate }}
            </span>
          </app-primary-button>
        </div>
      </div>
    </div>
    <app-add-user-modal
      #addUserModal
      (userAddedModel)="handleUserAdded($event)"
      [usersAdded]="users"
      [action]="'add'">
    </app-add-user-modal>
    <app-confirm-modal #confirmModal (modalSubmit)="modalSubmit()">
      {{ 'USER_ADD.CONFIRM_MODAL.MESSAGE' | translate }}
    </app-confirm-modal>
  </ng-container>
</app-dashboard-layout>
